
        body{
            background-color: whitesmoke;
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
            padding: 0;
        }

        /* Address page css */

        #address-form{
            width: 450px;
            margin: auto;
            background-color: white;
            color: black;
        }
        #header{
            padding: 10px 17px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 13px;
            border-bottom: 1px solid rgb(179, 179, 179);
        }

        #cross{
            padding-right: 20px;
            font-size: 30px;
            font-weight: normal;
            color: gray;
        }

        #head-text{
            font-size: 25px;
            font-weight: bold;
        }

        #body{
            padding: 10px 20px;
        }

        .type1{
            width: 400px;
            border: none;
            border-bottom: 1px solid rgb(179, 179, 179) ;
            font-size: 18px;
        }

        .type2{
            width: 195px;
            border: none;
            border-bottom: 1px solid rgb(179, 179, 179) ;
            font-size: 18px;
        }

        .type3{
            width: 400px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            border-radius: 7px;
            height: 60px;
            font-size: 18px;
            margin: 20px 0px 10px;
            cursor: pointer;
        }

        th,
        td {
            width: 200px;
        }
        th{
            text-align: left;
            padding-top: 20px;
        }

        #loc{
            color: rgb(35, 190, 190);
        }

        .must{
            color: red;
        }
        #nav{
            background-color: white;
            margin-bottom: 15px;
            height: 80px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
        #logo{
            width: 200px;
            padding-left: 200px;
            margin-top: 15px;
        }
        #nxt{
            width: 500px;
            padding-left: 116px;
        }

        /* Address page css ends */

        /* grid-view : payment page */

        #cont{
            width: 1220px;
            margin: auto;
            margin-top: 30px;
        }
        #grid{
            display: grid;
            grid-template-columns: repeat(3, 400px);
            grid-template-rows: 150px 245px 70px 70px;
            grid-template-areas: "a a b"
                                 "a a c"
                                 "a a d"
                                 "a a .";
            gap: 10px;
        }

        #a{
            grid-area: a;
            background-color: white;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
        #b{
            grid-area: b;
            background-color: white;
            padding: 20px 20px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 3px;
        }
        #c{
            grid-area: c;
            background-color: white;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 3px;
        }
        #d{
            grid-area: d;
            
        }

        #pay-head{
            padding: 25px 40px;
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px solid rgb(204, 204, 204);
        }

        #secure{
            padding: 10px;
            color: gray;
            font-size: 14px;
            text-align: center;
        }

        .img-icon1{
            width: 53px;
        }

        #a-main{
            display: flex;
        }

        #left{
            width: 270px;
        }

        #right{
            padding: 25px 50px;
        }

        .buttons{
            width: 100%;
            height: 70px;
            background-color: white;
            border: 1px solid rgb(204, 204, 204);
            cursor: pointer;
            font-size: 15px;
            font-weight: bold;
            text-align: left;
            padding-left: 15px;
        }

        #checkbox{
            display: flex;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .buttons:hover{
            border-right: 5px solid rgb(0, 211, 211);
        }

        #img2{
            margin-top: 20px;
        }

        .img2{
            height: 30px;
            width: 50px;
        }

        #headd{
            font-size: 15px;
            font-weight: bold;
        }

        .inner{
            border: 1px solid rgb(204, 204, 204);
            height: 40px;
        }
        
        #in1{
            width: 290px;
            padding-left: 10px;
        }

        #in2{
            width: 290px;
            padding-left: 10px;
        }

        #in3{
            width: 50px;
        }

        .sp{
            margin-top: 15px;
            margin-right: 10px;
            padding: 0px 5px;
        }

        .total-heading{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 13px;
        }

        #change{
            color: rgb(0, 201, 201);
            font-weight: bold;
        }

        #change:hover{
            color: rgb(116, 116, 116);
            cursor: pointer;
            font-weight: bold;
        }

        #c-head{
            background-color: rgb(219, 255, 255);
            padding: 15px 20px;
            font-size: 15px;
            font-weight: bold;
        }

        #inner1{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            padding-top: 20px;
            font-size: 14px;
        }

        #inner2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            font-size: 14px;
        }

        #inner3{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
            font-size: 14px;
            border-bottom: 1px solid rgb(204, 204, 204);
        }

        #inner4{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            font-size: 15px;
            font-weight: bold;
        }

        #inner55{
            padding: 0px 20px;
            font-size: 12.5px;
            color: rgb(5, 150, 5);
        }

        #Free{
            font-weight: bold;
        }

        /* grid-view : payment page ends */

        /*  Payment Page */

        #payButton{
            border: none;
            color: white;
            background-color: rgb(221, 94, 55);
            height: 50px;
            width: 310px;
            font-size: 20px;
            font-weight: bold;
            margin-top: 18px;
            border-radius: 5px;
            cursor: pointer;
        }

        #image11{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            width: 500px;
        }

        /* JS- create Elements in payment  */

        #discount{
            color: red;
        }
        .bolder{
            font-weight: bold;
            font-size: 18px;
        }
        #div12 {
            font-weight: bold;
            line-height: 1.6em;
        }
        
        #div22 {
            font-weight: bold;
            color: grey;
            line-height: 1.6em;
        }
        
        #div32 {
            font-weight: bold;
            color: grey;
            line-height: 1.6em;
        }