*{
    box-sizing: border-box;
    font-family: sans-serif;
}


#container{
    width: 100%;
    border: 1px solid transparent;
    height: 2000px;
}
#navbar1{
   width: 100%;
    height: 87.5px;
    border: 1px solid transparent;
    position: absolute;
    left: 0;
    top: 0;
    /* max-width: calc((100% - 100vw)/2); */
    /* background-color: yellow; */
}
#flex1{
    width: 96%;
    height: 100%;
    border: 1px solid transparent;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    align-items: center;
}
.flex1Items{
    border: 1px solid transparent;
    height: 49px;
    width: 25%;
}
.midSearch{
    flex-grow: 1;
}
.midSearch > input{
    width: 100%;
    height: 40px;
    background-color: whitesmoke;
    text-align: center;
    border: 1px solid #a0a0a0;
    border-radius: 3px;
}
.final{
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
}
.logo > img{
    height: 75%;
    width: 100%;
    object-fit: cover;
}
.finalItems{
    width: 25%;
    border: 1px solid transparent;
    /* padding: 14px 18px 16px; */
    font-size: 13.5px;
    padding-top: 10px;
}
.fshrink{
   width: 8%;
}
.second{
    width: 30%;
}
.third{
    width: 41%;
}

.navbar2{
    width: 100%;
    height: 49.5px;
    z-index: 5;
    border: 1px solid transparent;
    /* background-color: red; */
    position: absolute;
    top: 85px;
    left: 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: white;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    box-shadow: none;
}

.flex2{
    width: 98%;
    height: 100%; 
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.flex2 > div{
    border: 1px solid transparent;
}
.flex2Item1{
    width: 69%;
    height: 100%;
    margin-left: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex2Item2{
    width: 27%;
    height: 100%;
    margin-left: 2%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.flex2Item1s{
    width: 10%;
    height: 100%;
    border: 1px solid transparent;
    padding-top: 15px;
    text-align: center;
    font-size: 15px;
    color: #1d1d1d;
}
.last{
    width: 18%;
}
.flex2Item2s{
    border: 1px solid pink;
    width: 34%;
    height: 30px;
    margin-left: 15px;
    border-radius: 4px;
    background-color: #d8faf9;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bc{
    background-color: #e3e3e3;
    color: #1d1d1d;
}

#bucket{
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    margin-top: 126px;
}
.div1{
    width: 90%;
    height: 22.5px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 5px;
    font-size: 13px;
    color: #212121;
}
.div1Items{
    cursor: pointer;
    font-size: 12px;
    color: #929495;
}
.laster{
    color: #515455;
    font-weight: 600;
}

.div2{
    width: auto;
    height: 1150px;
    border: 1px solid transparent;
    margin: 0 46.5px;
    display: flex;
    justify-content: space-between;
}

.div2Item1{
    width: 45%;
    height: 711px;
    border: 1px solid transparent;
}
.div2Item2{
    width: 48%;
    height: 1150px;
    border: 1px solid transparent;
}
.div2Item1Item1{
    width: auto;
    height: 337px;
    margin: 0 24px;
    margin-bottom: 25px;
}
.div2Item1Item2{
    width: 75%;
    height: 160px;
    margin: 24px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.div2Item1Item2 > div{
    width: 90px;
    height: 100%;
    border: 1px solid lightgrey;
    padding: 1%;
}
.div2Item1Item2 > div > img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}
.div2Item1Item3{
    padding: 0 50px;
    width: auto;
    height: 33px;
    margin: 10px 20px;
}
.ditmini{
    width: 35%;
    background: #f0f0f0;
    border-radius: 3px;
    cursor: pointer;
    /* padding: 8px 14px; */
    height: 100%;
    margin-right: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
    color: #262626;
    line-height: 18px;
    font-size: 14px;
}
.div2Item1Item4{
    padding-left: 18px;
    padding-top: 22px;
    font-size: 14px;
    color: #212121;
    width: 100%;
    height: auto;

}
.div2Item1Item4 > h3{
    color: #1a1a1a;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 11px;
    font-weight: 500;
    margin-left: 50px;
}
.div2Item1Item4 > ul{
    width: 100%;
    height: 48px;
    list-style: none;

}
.div2Item1Item4 > ul > li{
    margin-bottom: 8px;
    color: #1a1a1a;
    line-height: 20px;
    padding-right: 18px;
}
.div2ii1{
    display: inline-block;
    margin-left: 0;
    margin-right: 25px;
    vertical-align: top;
}
.div2ii1 > img{
    width: 23px;
    height: 23px;
    object-fit: cover;
}
.div2ii2{
    margin: 20px auto;
    width: 292px;
    height: 292px;
    display: inline-block;
   text-align: center;
   margin-left: 50px;
}
.div2ii2 > img{
    width: 100%;
    max-height: 100%;
}
.arrows{
    height: 25px;
    width: 25px;
}

.div2Item2 > h1{
    font-size: 21.5px;
    line-height: 33px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    color: #000;
}
.tag1 {
    font-size: 13px;
    color: black;
    margin: 0;
    margin-bottom: 10px;
}
.by{
    color: #028190;
    font-weight: 600;
    letter-spacing: .39px;
}
.div2Item2Item1{
    width: 65%;
    height: 25px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.div2Item2Item1s{
    width: 25%;
    height: 100%;
    /* margin-right: 5px; */
    font-size: 14px;
    color: #212121;
    margin-left: 5px;
}
.second1{
    width: 12%;
}
.thir{
    width: 45%;
    font-size: 14px;
    line-height: 18px;
    color: grey;
}
.checked {
    color: orange;
  }
  .div2Item2Item1s > img{
      width: 14px;
      height: 14px;
      
  }

  .box1{
      width: 75px;
      height: 23px;
      border-radius: 3px;
      background-color: maroon;
      color: white;
      font-weight: 600;
      text-align: center;
      font-size: 14px;
      margin-top: 10px;
      padding-top: 2px;
      margin-bottom: 14px;
  }
  .box2{
      width: 50%;
      height: 22px;
      border: 1px solid transparent;
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }
  .box2Itmes {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }
  .senody{
      width: 50%;
      height: 22px;
      font-size: 13px;
      line-height: 22px;
      color: #1a1a1a;
      display: flex;
      justify-content: space-evenly;
  }
  .pric{
      font-size: 25px;
      font-weight: 600;
      margin-right: 25px;
  }
  #addTocart{
      cursor: pointer;
  }
  .box2Itmes > p{
      margin: 0;
  }
  .ori{
      color: grey;
      text-decoration: line-through;
      font-size: 20px;
      font-weight: normal;
  }
.box3{
    width: 38%;
    height: 30px;
    border: 1px solid transparent;
    margin-bottom: 16px;
    padding: 4px 9px 5px 7px;
    background: #edfffe;
    border: 0.5px solid #198b86;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box3 > p{
    font-size: 12px;
}
.box3 > img{
    width: 15px;
    height: 15px;
}
.box4{
    width: 70%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.box4Itmes{
    height: 50px;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
}
#fir{
    width: 18%;
    border: 1px solid hsla(0,0%,43.9%,.25098039215686274);
}
#fir > p{
    color: grey;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.sec {
    width: 135px;
   font-size: 12px;
   color: black;
   border: 1px solid rgba(0,0,0,.4392156862745098);
    border-radius: 6px;
    font-weight: 600;
}
.three{
    width: 135px;
    background-color: maroon;
    color: white;
    font-weight: 600;
    font-size: 12px;
}
.mis{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}
.box5{
    width: 50%;
    height: 70px;
    margin-bottom: 15px; 
    display: flex;
    justify-content: space-between;
}
.box5Items{
width: 45%;
height: 100%;
border: 1px solid #028190;
border-radius: 6px;
height: 62px;
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}
.box5Items > p{
    margin: 0;
    margin-top: 10px;
}
.box5Items > p:nth-of-type(1){
    color: grey;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}
.box5Items > p:nth-of-type(2){
    color: grey;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
}
.flavour{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}
.box6{
    width: 75%;
    height: 55px;
    cursor: pointer;
    font-size: 16px;
    line-height: 17px;
    color: #222;
    font-weight: 600;
    border-radius: 6px;
    border: 1px solid hsla(0,0%,43.9%,.25098039215686274);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.box6 > p{
    margin-left: 15px;
}
.box6 > img{
    width: 16px;
    height: 16px;
    margin-right: 15px;
}
.box7{
    width: 75%;
    height: 213px;
    background-color: #f8f8f8;
    border-radius: 6px;
    padding: 12px;
    font-size: 14px;
    margin-bottom: 15px;
}
.dil{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    line-height: 22px;
    margin-bottom: 7px;
}
.box8{
    height: 45px;
    padding: 9px 16px 9px 12px;
    background: #fff;
    width: 245px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 14px;
    color: #212121;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}
.box8 > input{
    border: none;
}
.box8 > input:hover{
    outline: transparent;
}
.smi{
    margin: 0;
    /* margin-bottom: 1px; */
    font-size: 11px;
    color: grey;
}
.box9{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
    color: grey;
    font-weight: 600;
}
.box9 > p{
    margin: 5px 0;
    margin-bottom: 10px;
}
.box10{
    width: 55%;
    height: 75px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
}
.box10Items{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
.box10Items > p{
    margin: 0;
    margin-bottom: 5px;
    letter-spacing: .34px;
    color: #000;
    opacity: .8;
    margin-left: 5px;
}

.box11{
    width: 75%;
    height: 70px;
    /* padding: 10px; */
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: normal;
    margin: 0;
    margin-bottom: 15px;
}
.box11Items{
    width: 40%;
    height: 100%;
    padding: 10px;
    display: flex;
    font-weight: 600;
    align-items: center;
    font-size: 22px;
    color: #212121;
}
.box11Items > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.box12{
    width: 75%;
    height: 117px;
    padding: 12px  0;
    border-bottom: 1px solid hsla(0,0%,43.9%,.1411764705882353);
    margin-bottom: 15px;
} 
.box12 > h3{
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    display: inline-block;
}
.box13{
    width: 100%;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid transparent;
    margin-bottom: 10px;
}
.box13Item1{
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: black;
}
.box13Item2{
    width: 75%;
    height: 100%;
    font-size: 12px;
    color: #212121;
}
.box13Item3{
    width: 5%;
    height: 100%;
}
.box13Item3 > img{
    width: 16px;
    height: 16px;
}
.offers{
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    color: #198b86;
    font-weight: 600;
    display: inline-block;
}
.box14{
    width: 75%;
    height: 129px;
    padding: 12px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box14Items{
    width: 35%;
    height: 100%;
    background-color: #ebfdfc;
    display: flex;
    flex-direction: column;
    border: 1px solid hsla(0,0%,85.9%,.4);
    border-radius: 4px;
    padding: 12px 16px 7px 9px;
    justify-content: flex-start;
    margin-right: 15px;
    gap: 8%;
}
.box14ItemsItems{
    font-size: 13px;

}
.bil{
    width: 75%;
    height: 25px;
    background-color: white;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    border: 0.5px solid #ddd;
    color: #198b86;
    cursor: pointer;
}
.div3{
    margin: 0 46.5px;
}
.box15{
    width: 100%;
    height: 20px;
    margin: 10px 0 20px;
    font-size: 14px;
    color: #212121;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
}
.ones{
    width: 35px;
    height: 100%;
    border: 1px solid #d3d4d5;
    text-align: center;
    font-weight: 400;
    margin-left: 5px;
}
.div4{
    width: auto;
    margin: 0  46.5px;
    height: 84px;
    border: 1px solid transparent;
    font-size: 12px;
    color: #bdbebf;
    line-height: 22px;
    font-weight: 400;
}
.front{
    font-weight: 600;
    color: black;
}
.int{
    font-weight: 400;
    text-align: center;
    color: #141516;
    text-transform: capitalize;
    font-size: 32px;
    line-height: 32px;
}
.div5{
    width: auto;
    margin: 0  46.5px;
    height: 200px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
}
.div5Items{
    width: 22%;
    height: 100%;
    border: 1px solid transparent;
}
.div5Items > img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.div6{
    width: auto;
    margin: 0  46.5px;
    height: 450px;
    border: 1px solid lightgrey;
    border-radius: 6px;
}
.div6Item1{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;
    font-weight: 500;
    margin: 0;
}
.div6Item1 > div:nth-of-type(1){
    padding: 0 25px;
}
.div6Item1 > div:nth-of-type(2){
    margin-right: 25px;
}
.view{
    width: 100px;
    height: 100%;
    background: rgb(0, 175, 174);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.div6Item1s{
    /* margin-bottom: 15px; */
    height: 75%;
    display: flex;
    align-items: center;
}
.div6Item2{
    width: 100%;
    height: 88.5%;
    /* padding: 15px 25px; */
    background: #f8f8f8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.div6Item2s{
    height: 92%;
    width: 22.5%;
    border: 1px solid #e6e6e6;
    border-radius: 9px;
    background: #fff;
    z-index: 2;
    padding: 6px 0 45px;
    overflow: hidden;
}
.vig{
    object-fit: cover;
    margin: 0;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
}
.fomo{
    display: inline-block;
    vertical-align: middle;
}
.div6Item2s > h3{
    margin: 10px 0;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin-left: 10px;
}
.stars{
    width: 30%;
    height: 18px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
}
.starsItems{
    height: 100%;
}
.priceAdd{
    width: 85%;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0;
    align-items: center;
}
.priceAdds{
    font-size: 18px;
    font-weight: 600;
}
.don{
    width: 65px;
    height: 35px;
    border-radius: 2px;
    font-size: 12px;
    background-color: #e1edf4;
    color: #004b5d;
    margin-left: 25px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    font-weight: 600;
}
.right{
    margin-right: 5px;
}
.left{
    margin-left: 10px;
    font-size: 13px;
}
.div7{
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    height: 800px;
    border: 1px solid transparent;
    background-color: #f8f8f8;
    margin-bottom: 80px;
    border: 1px solid transparent;
}
.divN1{
    width: 100%;
    margin: 0  46.5px;
    height: 139px;
    padding: 16px;
    font-size: 14px;
    color: #212121;
    border: 1px solid transparent;
}
.divN1 > h2{
    margin: 0;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 43px;
    font-weight: 400;
    text-align: center;
}
.dflex{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    height: 100%;
}
.divN2{
    width: 65%;
    height: 50px;
    margin: 25px auto;
    border: 1px solid transparent;
}
.divN2Items{
    width: 45%;
    height: 100%;
    color: #212121;
    font-size: 16px;
    font-weight: 500;
    margin-right: 13px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bot{
  margin: 0;
  margin-top: 10px;
}
.din{
    height: 100%;
    color: #212121;
    padding: 10px 45px 10px 13px;
    cursor: pointer;
    line-height: 16px;
    border: 1px solid #dededf;
    background: #fff;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 600;
    border-radius: 6px;
}
.divN3{
    width: auto;
    margin: 25px  46.5px;
    border: 1px solid transparent;
    height: 60%;
}
.divN3Item1{
    width: 38%;
    height: 85%;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
    background-color: white;
}
.divN3Item2{
    width: 57%;
    height: 100%;
    border: 1px solid transparent;
    display: inline-block;
    vertical-align: top;
    background-color: whitesmoke;
    margin-left: 30px;
}
.divN3Item1 > h3{
    margin: 0;
    text-align: center;
    margin-top: 15px;
margin-bottom: 15px;
}
.dt1{
    width: 50%;
    height: 30px;
    border-radius: 11px;
    background: whitesmoke;
    margin: 15px auto;
    border: 1px solid transparent;
}
.dt1 img{
    width: 20px;
    height: 20px;
    margin: 0 ;
    margin-right: 3px;
}
.dt1  p{
    font-size: 12px;
    line-height: 19px;
    color: #194f69;
    letter-spacing: .2px;
    font-weight: 600;
     display: inline-block;
     margin: 0;
     margin-bottom: 5px;
     vertical-align: middle;
}
.dt2{
    margin: 5px auto;
    font-size: 14px;
    line-height: 19px;
    color: #000;
    opacity: .67;
    text-align: center;
}
.dt3{
    width: 90%;
    height: 125px;
    border: 1px solid transparent;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
}
.dt3items{
    width: 100%;
    height: 15%;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.barCover{
    width: 50%;
    height: 15px;
    border-radius: 7px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.bar{
    width: 80%;
    height: 50%;
    background-color: #36b6b0;
    border-radius: 7px;
}
.dt3items > p{
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #212121;
}
.bar1{
    width: 25%;
    height: 50%;
    background-color: #36b6b0;
    border-radius: 7px;
}
.bar2{
    width: 10%;
    height: 50%;
    background-color: #36b6b0;
    border-radius: 7px;
}
.bar3{
    width: 0%;
    height: 50%;
    background-color: lightgrey;
    border-radius: 7px;
}
.bar4{
    width: 3%;
    height: 50%;
    background-color: red;
    border-radius: 7px;
}
#be{
    text-align: left;
    margin: 0;
    margin-left: 25px;
    font-size: 14px;
}
#be .dt3items{
    display: flex;
    justify-content: flex-start;
}
.midStars{
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fix > p:nth-of-type(1){
    width: 25%;
}

.dd1{
    width: 100%;
    height: 60px;
    margin: 0;
    margin-bottom: 30px;
    padding-bottom: 13px;
    /* border: 1px solid red; */
    border-bottom: 1px solid #cacaca;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dd1 > p{
    width: 30%;
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}
.dd1Items {
    width: 15%;
    height: 75%;
    border: 1px solid #cacaca;
    border-radius: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}
.dd1Items > p{
    font-size: 14px;
    font-weight: 600;
}
.dd2{
    width: 100%;
    height: 38px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort{
    width: 25%;
    height: 100%;
    border: 1px solid #dededf;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort p{
    font-size: 14px;
    font-weight: 600;
}
.dd3{
    width:100%;
    height: 150px;
    /* border: 1px solid red; */
    /* margin-bottom: 2px; */
    box-shadow: 0 2px 4px rgb(0 0 0 / 16%);
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 4px;
    padding: 12px;
    background-color: white;
}
.inn1 {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}
.fir{
    width: 42px;
    height: 100%;
    background: #36b6b0;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.fir > p{
    color: white;
    font-size: 13px;
}
.inn1 p{
    margin: 0;
    font-size: 14px;
    margin-left: 15px;
}
.inn2 {
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}
.inn2s{
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.col{
    color: goldenrod;
}
.inn2s > p{
    margin: 0;
    font-size: 13px;
    margin-left: 15px;
}
.lat{
    font-size: 15px;
    margin: 5px 0;
}
.inn3{
    width: 80%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    /* border: 1px solid black; */
}
.inn31{
    width: 20%;
    height: 100%;
    background: #ecedef;
    font-size: 14px;
    line-height: 19px;
    color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    font-weight: 600;
}
.inn3 > p{
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
}

.footTop{
    width: 100%;
    height: 100px;
    margin: 0 auto;
    border: 1px solid transparent;
    margin-bottom: 25px;
    font-size: 12px;
    color: #00bfbf;
    /* border-right: 1px solid black; */
    margin-top: 200px;
}

.divFooter{
    width: 100%;
    height: 750px;
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid transparent;
    background: #f9f9f9;
    margin: 0;
    margin-top: 25px;
}
.front{
    font-size: 14px;
    font-weight: 600;
    color: #9e9e9e;
    margin-right: 8px;
}
.fillers{
    margin-right: 1px solid bla
    ;
}
.be{
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}
.footTop > p{
    margin: 0;
    font-size: 12px;
    display: inline;
    line-height: 1.6em;
}
.part1{
    width: auto;
    height: 450px;
    border: 1px solid transparent;
    margin: auto;
    margin-bottom: 25px;
    margin: 0 46.5px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part1Items{
    border: 1px solid transparent;
    width: 15%;
    height: 100%;
}
.part1Items > h4{
    margin: 0;
    margin-bottom: 20px;
}
.six{
    flex-grow: 1;
}
.six > h4{
    margin-top: 0;
}
.tops{
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
}
.lister{
    list-style: none;
    padding: 0;
}
.lister > li{
    font-size: 14px;
    line-height: 27px;
    color: #4e4e4e;
    font-weight: 400;
    margin: 5px 0;
}
.here{
    margin-bottom: 10px;
}
.lastContent {
    margin: 0;
    color: #4e4e4e;
    line-height: 25px;
    font-weight: 400;
    font-size: 13.5px;
    margin-bottom: 20px;
}
.las{
    font-size: 12px;
}
.part2{
    width: 100%;
    height: 35px;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.part2Item1{
    width: 63%;
    height: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.part2Item2{
    width: 32%;
    height: 100%;
    background-color: #1da19b;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part3{
    width: 100%;
    height: 70px;
    border: 1px solid transparent;
}
.part3 > h4{
    color: #2c2c2c;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 15px;
    line-height: 18px;
}
.part3Flex{
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.part3FlexItems{
    width: 32px;
    height: 32px;
}
.part3FlexItems > img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.part4{
    width: auto;
    margin: 25px 46.5px;
    height: 175px;
    border-bottom: 1px solid hsla(0,0%,43.9%,.33);
    border-top: 1px solid hsla(0,0%,43.9%,.33);
    display: flex;
    padding-top: 29px;
    padding-bottom: 28px;
    justify-content: space-between;
    align-items: center;
}
.part4Items{
    width: 13%;
    height: 100%;
}
.part4Items > img{
    width: 92px;
    height: 92px;
}
.part4Final{
    width: 62%;
    height: 100%;
}
.part4Final > p{
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}
.part5{
    width: auto;
    margin: 25px 46.5px;
    height: 70px;
    padding: 14px 0;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.part5Flex{
    width: 40%;
    height: 100%;
    border: 1px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.innerPart5{
    width: 45%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.innerPart5 img{
    max-width: 100%;
    max-height: 100%;
    margin-right: 10px;
}
.part5Flex >h4{
    font-size: 15px;
    margin: 0;
}
.part5 > p{
    margin: 0;
    font-size: 12px;
    margin-right: 50px;
}
#cartDropDown{
    width: 300px;
    height: 150px;
    background-color: white;
    display: none;
    border: 1px solid none;
    position: absolute;
    top: 50px;
    right: 40px;
    z-index: 8;
    padding: 12px;
}
.firstItemBox{
    width: 100%;
    height: 68%;
    border: 1px solid transparent;
    margin-bottom: 10px;
}
.proceedToCart{
    width: 100%;
    height: 35px;
    background-color: chocolate;
    color: white;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    padding: 8px;
}
.proceedToCart a{
    text-decoration: none;
    color: white;
}
/* .firstItemBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */
.firstItemBox  img{
 width: 50px;
 height: 50px;
}
.firstItemBox  p{
    margin: 0;
    font-size: 13px;
    font-weight: 600;
}
.lastFlex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}